* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inknut Antiqua', serif;
}

header {
    display: flex;
    background-color: rgb(50, 167, 145);
    align-items: center;
    justify-content: space-evenly;
}

.trybewarts-login {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
}

#trybewarts-header-title {
    color: white;
}

#email {
    margin-right: 10px;
}

#password {
    margin-right: 10px;
}

main {
    display: flex;
}

#evaluation-form {
    display: flex;
    flex-direction: column;
    width: 675px;
}

#trybewarts-forms-logo {
    height: 500px;
}

#evaluation-form #input-name {
    display: flex;
    margin-right: 15px;
    flex-direction: row;
    align-self: flex-start;
    flex-basis: 40px;
}

#evaluation-form #input-lastname {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    flex-basis: 40px;
}

#evaluation-form #input-email {
    display: flex;
    margin-right: 15px;
    flex-direction: row;
    align-self: flex-start;
}

#evaluation-form #house {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

#names {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
}

#emailSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
}